@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Login, Register and Welcome Email Send project assignment!</h1>
    <div>
        <img src="@Url.Content("~/images/Asset1.png")" alt="Jahir" style="width: 300px; margin-bottom: 50px; margin-top: 50px;" />
    </div>
    <div>
        <img src="@Url.Content("~/images/Asset2.png")" alt="Ostad" style="width: 512px; margin-bottom: 128px;margin-top: 50px;" />
    </div>
    
</div>
